<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Carnet</title>
    <link rel="stylesheet" href="../style/default.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/3aaaae7e62.js" crossorigin="anonymous"></script>}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="background">
    <div class="container">

        <a hidden="hidden" data-bs-toggle="modal" href="#validacionCarnet" role="button" id="buttonTipoRegistro"></a>
        <a hidden="hidden" data-bs-toggle="modal" href="#modalInvalidDataId" role="button" id="buttonInvalidDataId"></a>
        <a hidden="hidden" data-bs-toggle="modal" href="#modalInvalidDataStudent" role="button" id="buttonInvalidDataStudent"></a>


        <!-- Modal de Alerta -->


        <div class="modal fade" id="ModalAlert" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Alerta</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <p id="alertMessage"></p>
                            <p id="accessCode" class="fs-1 fw-bold text-center"></p>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="button color-yellow d-none" id="copyButton" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Codigo Copiado!" ><span>Copiar</span></button>
                            </div>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-blue" data-bs-dismiss="modal" id="okModalButton"  ><span>OK</span></button>
                    </div>
            </div>
        </div>
        </div>
        <a hidden="hidden" data-bs-toggle="modal" href="#ModalAlert" role="button" id="buttonModalAlert"></a>

        <!-- Modal de seleccion de registro -->

        <div class="modal fade" id="validacionCarnet" data-bs-backdrop="static"  aria-hidden="true" aria-labelledby="tipoRegistroLabel" tabindex="-1">
            <div class="modal-dialog ">
              <div class="modal-content rounded-0">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">Tipo de Registro</h5>
                </div>
                <div class="modal-body">
                    Por favor indique la acción a realizar
                </div>
                <div class="modal-footer">
                  <button class="button button-blue" data-bs-target="#modalSearchId" data-bs-toggle="modal"><span>Validar Estado</span></button>
                  <button class="button button-blue" data-bs-target="#modalSearchStudent"  data-bs-toggle="modal"><span>Registrar Perdida de Carnet</span></button>

                </div>
              </div>
            </div>
          </div>

        <!-- Modal de busqueda de registro -->


        <div class="modal fade" id="modalSearchId" data-bs-backdrop="static"   aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog ">
                <div class="modal-content rounded-0">
                    <form id="formSearchId" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Busqueda de Registro</h5>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="" class="form-label">Codigo de Registro: </label>
                                <input type="text" class="form-control" name="registerCodeCarnet" id="registerCodeCarnet" required>
                                <small id="helpId" class="form-text text-muted">Codigo de 6 digitos (Formato: 200XXX)</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="button button-blue" type="submit" id="formSearchIdButton" data-bs-dismiss="modal" name="formSearchIdButton"><span>Buscar</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


                    
        <!-- Modal campos invalidos Busqueda Registro -->


        <div class="modal fade" id="modalInvalidDataId" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="modalSearchStudentLabel"
        tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content rounded-0">
                <form id="formSearchId" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Busqueda de Registro</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="form-label">Id de Registro Invalido por favor verifiquelo </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-blue" type="button" data-bs-target="#modalSearchId" data-bs-toggle="modal"><span>Atras</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      <a hidden="hidden" data-bs-toggle="modal" href="#validacionCarnet" role="button" id=""></a>






        <!-- Modal de busqueda de estudiante -->


        <div class="modal fade" id="modalSearchStudent" data-bs-backdrop="static"  aria-hidden="true" aria-labelledby="modalSearchStudentLabel"
            tabindex="-1">
            <div class="modal-dialog ">
                <div class="modal-content rounded-0">
                    <form id="formSearchStudent" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Busqueda de Estudiante</h5>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="" class="form-label">Id de Estudiante: </label>
                                <input type="text" class="form-control" name="modalSudentCode" id="modalSudentCode" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="button button-blue" type="submit" id="formSearchStudentButton" data-bs-dismiss="modal" ><span>Buscar</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <!-- Modal campos invalidos Busqueda Estudiante -->


        <div class="modal fade" id="modalInvalidDataStudent" aria-hidden="true" aria-labelledby="modalSearchStudentLabel"
        tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Busqueda de Estudiante</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="form-label">Id de Estudiante invalido por favor verifiquelo </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-blue" type="button" data-bs-target="#modalSearchStudent" data-bs-toggle="modal"><span>Atras</span></button>
                    </div>
            </div>
        </div>
    </div>




          <!-- Registro nuevo -->
          
        <div class="row pt-5 pb-3">
            <div class="col-1">
                <button class="button button-blue" role="button" id="buttonHome"><span class="text"><i class="fa-solid fa-house-chimney fa-lg"></i></span></button>

            </div>
            <div class="col-10">
                <h2 class="text-center title text-white ">Registro Perdida de Carnet</h2>
            </div>

        </div>


        <div class="card p-4 rounded-0 mb-3" id="registerInfo" hidden>
            <fieldset class="mb-3 row ">
                <legend class="col-form-legend col-xs-4">Informacion del Registro</legend>
                <div class="col-xs-8">
                    <div class="mb-3 row">
                        <div class="col-md-6 col-sm-12">
                            <label for="inputName" class="col-xs-4 col-form-label">Id:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" name="idRegister" id="idRegister" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="inputName" class="col-xs-4 col-form-label">Estado:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" name="state" id="state" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6 col-sm-12">
                            <label for="inputName" class="col-xs-4 col-form-label">Fecha de Solicitud:</label>
                            <div class="col-xs-8">
                                <input type="date" class="form-control" name="requestDate" id="requestDate" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="inputName" class="col-xs-4 col-form-label">Fecha de Cierre:</label>
                            <div class="col-xs-8">
                                <input  type="date" class="form-control" name="closeDate" id="closeDate" disabled>
                            </div>
                        </div>
                    </div>





                </div>

            </fieldset>
        </div>





        <div class="card p-4 rounded-0">
            <form id="formCarnet">
                <fieldset class="mb-3 row ">
                    <legend class="col-form-legend col-xs-4">Datos Personales</legend>
                    <div class="col-xs-8">
                        <div class="mb-3 row">
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Nombres:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Nombres" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Apellidos:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" name="lastName" id="lastName"
                                        placeholder="Apellido" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Codigo Estudiantil:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" name="code" id="code"
                                        placeholder="Codigo Estudiantil" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Correo Institucional:</label>
                                <div class="col-xs-8">
                                    <input  type="text" class="form-control" name="email" id="email"
                                        placeholder="example@uniempresarial.edu.co" disabled>
                                </div>
                            </div>
                        </div>



                        <div class="mb-3 row">
                            <label for="inputName" class="col-xs-4 col-form-label">Numero de Celular:</label>
                            <div class="col-xs-8">
                                <input  type="text" class="form-control" name="cellphone" id="cellphone"
                                    placeholder="Numero de Celular" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Carrera:</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="career" id="career" disabled>
                                        <option value="0" >Seleccionar...</option>
                                        <option value="1">ADMINISTRACIÓN DE EMPRESAS</option>
                                        <option value="2">CONTADURÍA PÚBLICA Y FINANZAS INTERNACIONALES</option>
                                        <option value="3">DISEÑO DE PRODUCTO</option>
                                        <option value="4">FINANZAS Y COMERCIO EXTERIOR</option>
                                        <option value="5">INGENIERÍA DE SOFTWARE</option>
                                        <option value="6">INGENIERÍA INDUSTRIAL</option>
                                        <option value="7">MARKETING Y LOGÍSTICA</option>
                                        <option value="8">NEGOCIOS INTERNACIONALES</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="inputName" class="col-xs-4 col-form-label">Promocion:</label>
                                <div class="col-xs-8">
                                    <input  type="number" class="form-control" name="promotion" id="promotion" min="1" max="12"
                                        placeholder="Promocion" disabled>
                                </div>
                            </div>
                        </div>


                    </div>

                </fieldset>


                <div class="row">
                    <div class="d-flex  flex-row-reverse ">
                        <button class="button button-blue" role="button" id="formCarnetButton"><span class="text">Enviar</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script src="../scripts/carnetScript.js" type="module" ></script>
</body>

</html>